@import url("../fonts/bootstrap-icons.css");
.widget {
  min-width: 150px;
  min-height: 150px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  box-sizing: border-box;
  background-color: rgb(220,220,220);
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.widget-content{
	width:100%;
	display:block;
    text-align: center;
}
.event-name{
		font-size:70%;
	    text-align: center;
}
.follow-name{
	font-size:90%;
	text-align: center;
}
.wide {
  min-width: 310px;
}
.tall {
  min-height: 310px;
}
.narrow {
  min-width: 70px;
}
.short {
  min-height: 70px;
}
.on{
	background-color: lightgreen;
}
.off{
	background-color: mistyRose;
}
.switch{
}
.event{
	border: 1px solid blue;
}

