@import url("CSS/bootstrap-icons.css");
.widget {
  width: 150px;
  min-height: 150px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  box-sizing: border-box;
  background-color: rgb(220,220,220);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.widget-content{
	width:100%;
	display:block;
    text-align: center;
}
.event-name{
	    text-align: center;
}
.follow-name{
	    text-align: center;
}
.wide {
  width: 310px;
}
.tall {
  height: 310px;
}
.on{
	background-color: lightgreen;
}
.off{
	background-color: mistyRose;
}
.switch{
}
.event{
	border: 1px solid blue;
}

.progress-bar-vertical {
  width: 150px;
  min-height: 150px;
  margin: 5px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
}